
.logo{
	padding-top:8px;
}
#xs_logo_1{
	display:none;
}
.header_bg{
	height:65px;
	background-color:#eaeaea;
	margin-bottom:0px;
	border:0px;
}
.navbar-right{
	text-align:right;

}
.navbar-right li{
	display:inline-block;
	margin-top:12px;
	margin-left:15px;	
	font-size:0;
	overflow:hidden;
	
}
.search_frame{
	opacity: 0;  
	display: block;  
    font-size: 12px;  
    transition: 0.3s;  
    -webkit-transition: .5s;  
    -moz-transition: .5s; 
	float:left;
	margin-right:10px;
}
.search:hover .search_frame{
	opacity:1; 
}
.search_a{
	display:block;
	height:33px;
	width:33px;
	padding:10px 5px;
	background:url(../image/artemplate/search.png)center no-repeat;
	outline:none;
	border:0;
}

.search_a:hover{
	border:none;	
	background:url(../image/artemplate/search.hover.png)center no-repeat;
}
.user a{
	display:block;
	height:33px;
	width:33px;
	text-indent:-999px;
	padding:20px 5px;
	background:url(../image/artemplate/user.png)center no-repeat;
}
.user a:hover{
	background:url(../image/artemplate/user.hover.png)center no-repeat;
}
.cart a{
	display:block;
	height:33px;
	width:33px;
	text-indent:999px;
	padding:20px 5px;
	background:url(../image/artemplate/cart.png)center no-repeat;
}
.cart a:hover{
	background:url(../image/artemplate/cart.hover.png)center no-repeat;
}


.top{
	text-align:center;
	height:595px;
	background:url(../image/artemplate/top_bg.png) no-repeat center center;
	
}
.top_h1{
	font-size:45px;
	color:#fff;	
	margin-top:180px;
	margin-bottom:80px;
}
.btn_g{	
	
	border-radius:10px;
	background:#eee;
	padding:15px 60px;
	font-size:20px;
	color:#000;
}
.btn_g:hover{
	background:#32b16c;
	color:#fff;
}

.p_people{
	padding:0px;
}
.p_people_p{
	background-color:#eee;
	padding:0px;
	margin:25px;
}
.people_top_bg{
	position:relative;
}
.top_bg_bg {
	position:absolute;
	bottom:-10px;
	width:100%;
	height:100%;	
	text-indent:-9999px;
}
.top_bg_bg:hover{
	background:-moz-linear-gradient(top, rgba(0,0,0,0.2),  rgba(0,0,0,0.2));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	background: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.b_01 {
	padding-left:0;
	width:100%;
}
.b_01 li{
	display:inline-block;
}


.painters h2{
	font-size:24px;
	text-align:center;
	margin-top:45px;
	color:#333333;
}
.photo_name{
	text-align:center;
	padding-bottom:2px;
	margin-bottom:0px;
	position:relative;
}
.photo_name img{
	margin-top:-45px;	
	width:120px;
	height:120px;
	border:6px solid #fff;
}
.photo_name p{
	color:#000;
	margin-top:8px;
	margin-bottom:15px;
}
.pp_p{
	padding-left:15px;
	padding-right:10px;
	margin-bottom:5px;
	position:absolute;
}
.ppp {
	padding-right:5px;
	padding-left:0px;	
}
.ppp img{
	width:100%;
	height:100%;	
}


.w_01_01 img{
	width:100%;
	height:100%;
	list-style: none;
}
.w_01_p {
	font-weight:bold;
	margin-top:5px;
	margin-bottom:1px;
}
.w_01_01 span{
	color:#32b16c;
}
.works h2{
	font-size:24px;
	text-align:center;
	margin-top:45px;
	margin-bottom:40px;
	color:#333333;
}

.center {
    text-align: center;
}
.new-styles .steps .step .one-one {
    margin-bottom: 17px;
}

.new-styles .steps .step h3 {
    margin: 13px 0px 8px;
    text-align: center;
}

.new-styles .btn {
    margin: 8px 0px 27px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    margin: 5px 0;
    color: #fff;
    text-transform: uppercase;
    padding: .6em 1.5em .44em;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;

}

.btn.green {
    background-color: #29c747;
}

.creation_des{
	background:#efefef;
	text-align:center;
	padding:30px;
}

.creation_des header {
	border-bottom: solid 2px rgba(0,0,0,0.4);
	color: #282828;
	font-family: "futura-pt-1","futura-pt-2",sans-serif;
	font-size: 13px;
	font-weight: 800;
	line-height: 24px;
	margin: 0 auto .5em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.creation_des header:after {
	border: solid transparent;
	border-top-color: rgba(0,0,0,0.4);
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
	margin-top: 2px;
	top: 100%;
	content: " ";
	position: absolute;
}

.creation_des p{
	margin-top:10px;
	margin-bottom:10px;
}

.top10{
	margin-top:10px;
}

.pro_des{
	margin-top:10px;
}

.pro_price{
	float:right;
}

.pro_name{
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 1px;
	color:#333333;
	float:left;
}

/*shop*/

.shop_top{
	height:280px;
	background:url(../image/artemplate/shop_t_bg.png);
}
.shop_ph {
	margin-top:120px;
}

.shop_ph p{
	font-size:20px;
}
.perple_nav {
	height:50px;
	background-color:#eee;
	border-bottom:solid #ccc;
	border-bottom-width:3px;
}
.p_nav{
	text-align:center;
	padding-left:0;
}
.p_nav li {
	display:inline-block;
	font-size:20px;
	line-height:50px;
}
.nav_cen {
	margin-left:80px;
	margin-right:80px;
}
.p_nav  a{
	color:#666;
}
.p_nav  a:hover{
	color:#339966;
	padding-bottom:9px;
	border-bottom:3px solid #339966;
}
.perple_inter {
	padding:0;
}
.perple_inter p{
	margin:0 250px 10px 250px;
	padding:50px 80px 50px 80px;
	font-size:20px;
	color:#666;
	border-bottom:2px solid #ccc;
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
	line-height:30px;
	letter-spacing:1px;
}
.follow_share{
	padding-left:0;
	text-align:center;
}
.follow_share li{
	display:inline-block;
	line-height:60px;
	padding:45px;
}
.follow{
	width:180px;
	height:60px;
	padding:18px 45px 18px 65px;
	font-size:20px;
	color:#666;
	background:url(../image/artemplate/follow.png) 20px center #eee no-repeat;
	border-radius:10px;
}
.follow:hover{
	background:url(../image/artemplate/follow_hover.png) 20px center #339966 no-repeat;
	color:#fff;
}
.share{
	width:180px;
	height:60px;
	padding:18px 45px 18px 65px;
	font-size:20px;
	color:#666;
	background:url(../image/artemplate/share.png) 20px center #eee no-repeat;
	border-radius:10px;
}
.share:hover{
	background:url(../image/artemplate/share_hover.png) 20px center #339966 no-repeat;
	color:#fff;
}
.works h2{
	font-size:24px;
	text-align:center;
	margin-top:45px;
	color:#333333;
}
.works_list{
	padding:15px 20px 10px 20px;
}

.w_img_bg {
	font-size:22px;
	color:#333;
	line-height:45px;
	margin-left:10px;
}
.w_img_bg:hover{
	color:#32b16c;
}
.theme h2{
	font-size:24px;
	text-align:center;
	margin-top:45px;
	color:#333333;
}
.theme_img_02 {
	padding:15px;
}
.theme_01 {
	display:block;
	text-align:center;
	line-height:320px;
	font-size:24px;
	color:#fff;
	background:url(../image/artemplate/theme_img.png) center center no-repeat;
	position:relative;
}
.theme_01:hover{
	color:#99ff99;
}
.theme_02 {
	display:block;
	text-align:center;
	line-height:320px;
	font-size:24px;
	color:#fff;
	background:url(../image/artemplate/theme_img2.png) center center no-repeat;
	position:relative;
}
.theme_02:hover{
	color:#99ff99;
}



